<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
        <app-home-button></app-home-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="padding-left: 0px;
      padding-right: 0px;">
        <div class="jumbotron">
          <h1 class="display-4">Portfolio</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Dokumentacja</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="padding-left: 0px;
      padding-right: 0px;">
        <div class="jumbotron">
          <h1 class="display-4">Cars Service Online</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/assets/download/carsService.pdf" role="button">Dokumentacja</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>