<div class="container-fluid">
  <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
              <app-home-button></app-home-button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 contact-form-content">
            <h1>Napisz do mnie!</h1>
              <form>
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Twój email:</label>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Imię i nazwisko:</label>
                    <input type="text" class="form-control" placeholder="Imię i nazwisko">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-12">
                  <label>Temat:</label>
                  <input type="text" class="form-control" placeholder="Temat wiadomości">
                </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-12">
                    <label>Treść wiadomości:</label>
                    <textarea type="text" class="form-control" rows="7" placeholder="Treść wiadomości..."></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 send-button">
                    <button type="submit" class="btn btn-success">Send</button>
                  </div>
                </div>               
              </form>
            </div>
          </div>
        </div>
  </div>