<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
        <app-home-button></app-home-button>
      </div>
    </div>
    <div class="row dashboard-cards-grid">
      <div class="col-sm-12">
        <div class="row dashboard-card">
          <div class="card" style="width: 18rem;">
            <img src="/assets/images/cars-service-project-card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cars Service Online</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/assets/download/cars-service.zip" class="btn btn-primary btn-block" download>Download zip file</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="/assets/images/portfolio-card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/assets/download/portfolio.zip" class="btn btn-primary btn-block" download>Download zip file</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>